@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");



body{
  background-color:rgba(10, 10, 10, 0.8);
  margin: 0 auto;
  padding: 0 auto;
  color: rgb(211, 204, 204);
  font-family: poppins;
  box-sizing: border-box;
}



*{
    box-sizing: border-box;
}

.section2{
  width: 100%;
}

.section3{
     background-color: rgba(105, 105, 105, 0.2);
     height: auto;
  width: 100%;
}

.section5{
    background-color: rgba(105, 105, 105, 0.2);
    height: auto;
    width: 100%;
}

.section6{
  width: 100%;
}

.lasttxt{
  line-height: 50px;
}

.workExp{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:  space-between;
 font-family:  Verdana, Geneva, Tahoma, sans-serif;
 margin: 15px;
}

.cards{
  width: 30%;
    color: rgb(195, 197, 210);
  background-color: rgba(10, 10, 10, 0.8);
  padding-left: 10px;
  transition: all 0.1s ease-in-out;
  height: auto;
}

.top{
  color: white;
}
.cards:hover{
  background-color: rgb(250, 173, 31);
  color: black;
  transform: scale(1.02);
  box-shadow: 3px 3px rgb(0, 0, 0);
}

.cards:hover > .top{
  font-weight: bold;
  color: black;
  font-weight: bold;
}

.forwork > h1 {
  font-size: 40px;
    text-align: center;
}


.contact{
   font-size: 40px;
    text-align: center;
    position: relative;
}
.pro{
  position: relative;
}

.serv{
  position: relative;
}

.serv::after{
  position: absolute;
  height: 3px;
  background-color: rgb(250, 173, 31);
  content: "";

}

.services .serv::after{
  bottom:-10px;
  left: 40%;
  width: 20%;
}



img.imagesOutline{
  object-fit: cover;
  height: 100%;
  width: 85%;

}

.project{
  display: flex;
  margin:100px;
  justify-content: center;
}

.projects .pro::after{
  bottom: -10px;
 left: 40%;
 width: 20%;
}
.pro::after{
  position: absolute;
  height: 3px;
  background-color: rgb(250, 173, 31);
  content: "";
}
.section4 .work::after{
    bottom: -10px;
    left: 40%;
    width: 20%;
}


.section4{
  width: 100%;
}

.work{
  position: relative;
}
.work::after{
    content: "";
  background-color: rgb(250, 173, 31);
  height: 3px;
  position: absolute;
}

.contact::after{
  content: "";
  background-color: rgb(250, 173, 31);
  height: 3px;
  position: absolute;
}

.fromAbtToFooter{
  width: 100%;
}

.section5 .contact::after {
    bottom: -10px;
    left: 40%;
    width: 20%;
}

.forwork > p {
  font-size: medium;
  text-align: center;
}

.serviceslist{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 20px;
  justify-content: space-between;
   transition:0.4s;
}

#cert1{
  width: 50%;
  height: auto;
 
  border-radius: 15px;
}


#cert2{
  width: 47%;
  height: auto;
    border-radius: 15px;

}

#cert3{
  width:50%;
  height: 500px;
  border-radius: 15px;
  margin-top: 20px;
}

#cert4{
  width:47%;
  height: auto;
  border-radius: 15px;
    margin-top: 20px;
}


#cert1:hover{

  transform: scale(1.01);

}

#cert2:hover{
  transform: scale(1.01);
}

#cert3:hover{
    transform: scale(1.01);
}

#cert4:hover{
    transform: scale(1.01);
}



.unordered > li{
  list-style-type: none;
  cursor: pointer;
}

.unordered > li:hover{
    cursor: pointer;
  color:rgb(250, 173, 31) ;
  text-decoration-line:none;
  transition: 1s;
  transform: translateY(-3%);

}


#short{
  font-size: 15px;
}


.services{
  text-align: center;
  font-size: 45px;
}


.projects{
  text-align: center;
  font-size: 45px;
}


.imagesproject {
    display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(3, 200px);
  gap: 15px;
  grid-template-areas:
    "one one  two three"
    "one one  four five"
    "eight eight six seven";
    margin-bottom: 50px;
}

#one{
  grid-area: one;
}

#two{
  grid-area: two;
}

#three{
  grid-area: three;
}

#four{
  grid-area: four;
}

#five{
  grid-area: five;
}

#six{
  grid-area: six;
 
}

#seven{
  grid-area: seven;
}

#eight{
  grid-area: eight;
}


  #lastImage{
    width: -webkit-fill-available;
    margin-left: 20px;
    margin-right: 20px;
  }

  #top-menu{
    display: none;
  }


.imagesOutline:hover{
  opacity: 0.4;
}

.overlay{
  display: none;
}




@media only screen and  (max-width:935px)  {
  .about{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.lists{
  display: none;
}
.workExp{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:  space-between;
 font-family:  Verdana, Geneva, Tahoma, sans-serif;
 margin: 25px;
}


.nav-1{
  display: flex;
  justify-content: space-between;
  height: auto;
width: 100%;
}


.overlay{
  position: fixed;
  background-color: #363737;
 opacity: 0.9;
  width: 0;
  height:100%;
  font-size: 60px;
  z-index: 1;
  overflow-x: hidden;
  top:  0;
  left: 0;
  transition: 0.5s;
  display: block;
}

.overlay-content{
 margin-top: 20px;
  top: 25%;
  width: 100%;
  position: relative;
 font-size: 25px;
 text-align: center;
}

.overlay-content > a{
  display: block;
  padding: 10px;
  cursor: pointer;
  color: rgb(237, 155, 4);
 padding-top: 20px;
  margin-top: 20px;
}


.overlay-content > a:hover {
  color: rgb(195, 197, 210);
}


.closebtn{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 40px;
    text-decoration: none;
    color:  rgb(250, 173, 31);
    cursor: pointer;
    font-weight: bold;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
} 

.imagesproject {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin:20px;
}

.cards{
  width: auto;
    color: rgb(195, 197, 210);
  background-color: rgba(10, 10, 10, 0.8);
  padding-left: 10px;
  transition: all 0.1s ease-in-out;
  height: auto;
    margin-top: 20px;
}

/* .cards{
  width: auto;
  background-color: rgb(250, 173, 31);
  color: rgba(10, 10, 10, 0.8);
  padding-left: 10px;
    transition: all 0.1s ease-in-out;
  height: auto;
  margin-top: 20px;

} */

/* .cards:hover{
  color: rgb(211, 204, 204);
  background-color: rgba(10, 10, 10, 0.8);
  transform: scale(1.01);
  box-shadow: 3px 3px rgba(250, 173, 31, .5);
}
 */

 .cards:hover{
  background-color: rgb(250, 173, 31);
  color: black;
  transform: scale(1.02);
}




.serviceslist{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; 
  margin: 45px;
  justify-content: space-evenly;
   transition:0.4s;
}

#top-menu{
  display: block;
  position: fixed;
  top: 20px;
  right: 2px;
  font-size: 40px;
  margin: 10px;
  cursor: pointer;
  color:rgb(250, 173, 31);
}


#cert1{
  width: -webkit-fill-available;
  height: auto;
 
  border-radius: 15px;
}


#cert2{
  width : -webkit-fill-available;
  height: auto;
  margin-top: 30px;
    border-radius: 15px;

}

#cert3{
  width:-webkit-fill-available;
  height: auto;
  border-radius: 15px;
  margin-top: 30px;
}

#cert4{
  width:-webkit-fill-available;
  height: auto;
  border-radius: 15px;
    margin-top: 30px;
}


  #lastImage{
    width: -webkit-fill-available;
    margin: 15px;
  }


  .imagesOutline{
    width: auto;
    margin: 10px;
    height: auto;
  }

img.imagesOutline{
  
  height: auto;
  width:100%;
}


.fromAbtToFooter{
  width: 100%;

}



body{
  box-sizing: border-box;
}





  nav.nav-2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
}




div.projects{
  width: 100%;
}

  /* .imagesproject{
    justify-content: space-evenly;
  } */

}


@media (max-width:380px) {
  body{
    width: 500px;
  }
}

@media (max-width:850px) {
  div.formSpace{
  display: flex;
  flex-direction: column-reverse;
 justify-content: space-between;
  margin: 70px;
  flex-wrap: wrap;
}

div#phonenum{
  width: 100%;
}

.fromAbtToFooter{
  width: auto;
}

div#emailnum{
  width: 100%;
}

}

.workbtn{
  outline: none;
  border: 1px solid rgb(250, 173, 31);
  background-color:  rgb(250, 173, 31);
  border-radius: 8px;
}

#bottom-logo{
     color: rgb(237, 155, 4);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3.5rem;
 text-align: center;
 display: grid;
 vertical-align: middle;
 margin-top: 200px;
  width: auto;
  text-shadow:3px 2px 2px rgb(250, 173, 31) ;
}

#bottom-text{
  text-align: center;
  color: rgba(162, 162, 162, 0.816);
}

#html{
  height: 300px;
  transition: 1s;
  font-family: Comic Sans MS;
}

.social-media{
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
padding-bottom: 50px;
}
#css{
  height: 300px;
  transition: 1s;
  font-family: Comic Sans MS;
}

#js{
  height: 300px;
  transition: 1s;
  font-family: Comic Sans MS;
}

#footer--txt{
  color: rgb(237, 155, 4);
}

#html:hover{
  background-color:  rgb(250, 173, 31);
  color: rgba(10, 10, 10, 0.8);
  text-align: center;
}

#css:hover{
  background-color:  rgb(250, 173, 31);
  color: rgba(10, 10, 10, 0.8);
  text-align: center;
}

#js:hover{
  background-color:  rgb(250, 173, 31);
  color: rgba(10, 10, 10, 0.8);
  text-align: center;
}





#section1{
  background-color: rgba(105, 105, 105, 0.2);
  clear: both;
 padding-bottom: 25px;
  height: auto;
  margin-top: 35px;

  }



.about{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

a{
    text-decoration: none;
    color:rgb(250, 173, 31)
   
}
.aboutme{
   font-size: 2.5em;
   word-spacing: 9px;
   background-image: url("https://i.postimg.cc/vm3jDM59/about.png");
   background-size: 30%;
   background-repeat: no-repeat;
   background-position:center;
}

.abt{
  position: relative;
}

.abt::after{
  position: absolute;
  background-color: rgb(250, 173, 31);
  height: 3px;
  content: "";
}

.aboutme .abt::after{


  bottom: -10px;
  width: 40%;
  right: 60%;
}
.text1{
  font-size: 15px;
line-height: 35px;
  margin-left: 25px;
}





#workbtn{

  outline: none;
  border: 1px solid rgb(250, 173, 31);
  background-color:  rgb(250, 173, 31);
  border-radius: 5px;
  width: 49%;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  height: 40px;
}

#contactbtn{

  outline: none;
  border: 1px solid rgb(250, 173, 31);
  background-color:  rgb(250, 173, 31);
  border-radius: 5px;
  width: 49%;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  height: 40px;
}

#contactbtn:hover{
  background-color:  rgba(105, 105, 105, 0.2);
  color: white;
}










.button-1{

  outline: none;
  border: 1px solid rgb(250, 173, 31);
  background-color:  rgb(250, 173, 31);
  border-radius: 8px;
  width: 135px;
  height: 45px;
  margin-bottom: 30px;
  font-weight: bolder;
  font-size: 1rem;
  color: rgba(59, 59, 59, 0.8);
  transition: 1s;
}

.footer{
  text-align: center;
  border-top: 1px solid #727a7a;
padding-top: 20px;
color: rgba(162, 162, 162, 0.816);
font-family: Verdana, Geneva, Tahoma, sans-serif;
}


footer{
  cursor: pointer;
  width: 100%;
}
.button-1:hover{
  background-color: rgba(10, 10, 10, 0.8);
  color: rgb(211, 204, 204);
  transform: scale(1.01);
  cursor: pointer;

}


#subtxt{
  color: rgb(211, 204, 204);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: none;
  font-size: 2.5rem;
}

.smalltxt{
  font-size: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 3px 2px 2px rgb(250, 173, 31);
  margin-top: 120px;
  margin-left: 35px;
  float: left;
  width: 400px;
}

.logo{
  color: rgb(250, 173, 31);
  margin-left: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  margin-top: 10px;
  width:50%;
  text-shadow:3px 2px 2px rgb(250, 173, 31) ;
}


li{
  list-style: none;
  text-decoration: underline;
  text-decoration-color:rgb(250, 173, 31);
  text-decoration-style: double solid;
  cursor: pointer;
  text-decoration-thickness:2px;
  vertical-align: middle;
}

html{
  scroll-behavior: smooth;
}

.goLinks > li{
  text-decoration: none;
  cursor: pointer;
  color: rgb(211, 204, 204);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#contactinfo{
  margin-left: 40px;
}

.logolink{
  color: rgb(211, 204, 204);
}

.logolink1{
    color: rgb(211, 204, 204);
    border-radius: 50%;
    background-color: rgba(105, 105, 105, 0.2);
    padding: 5px 12px;
    width: fit-content;

}
.logolink1:hover{
  background-color: rgb(250, 173, 31);
}
.left{
  width: auto;
}

.right{
  width: auto;
  margin-top: 20px;
}

#textarea{
    width: 100%;
    background-color: rgba(105, 105, 105, 0.2);
    border: 1px solid #363737;
    border-radius: 5px;
   text-align: left;
    padding: 25px 20px;
    margin: 18px 0;
    box-sizing: border-box;
    outline: none;
  display: inline-block;
    resize: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#submit-button{
  color: white;
  background-color: rgb(250, 173, 31);
  width: auto;
  cursor: pointer;
  border-radius: 0px;
}
.phone-et-email{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row ;

}

#phonenum{
  width: 45%;
}

#emailnum{
  width: 50%;
}
input{
  /*
  width: 100%;
  background-color: rgba(105, 105, 105, 0.2);
  text-align: left;
  outline: none;
  border: none;
  height: 35px;
  padding: 15px;
  */
  width: 100%;
    padding: 15px 20px;
    margin: 18px 0;
    display: inline-block;
    background-color: rgba(105, 105, 105, 0.2);
    border: 1px solid #363737;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    text-align: left;

}

.formSpace{
  display: flex;
  flex-direction: row;
 justify-content: space-between;
  margin: 70px;

  
}

.logolink:hover{
  color: rgb(250, 173, 31);
}

ul > li{
  display: inline;
  padding-right: 20px;
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.lists{
   margin-top: 25px;
}

.lists > li:hover{
  cursor: pointer;
  color:rgb(250, 173, 31) ;
  text-decoration-line:none;
  transition: 1s;
  transform: translateY(-3%);
}


.nav-2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  width: 100%;
}



.nav-1{
  display: flex;
  justify-content: space-between;
  height: auto;
width: 100%;
margin-top: 20px;
}


.image{
  position: relative;
  width: 300px;
margin-top: 55px;
margin-bottom: 20px;
  
  height: 400px;

}

.image__img{
  display: block;
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.image_overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffff;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  font-family: inherit;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}
.image_overlay > *{
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image_overlay--blur{
  backdrop-filter: blur(5px);
}


.image_overlay:hover{
  opacity: 1;
}

.image_overlay:hover > * {
  transform: translateY(0);
}






























/*
button{
  outline: none;
  border: 1px solid rgb(250, 173, 31);
  background-color:  rgb(250, 173, 31);
  border-radius: 8px;
  width: 135px;
  height: 45px;
  margin-top: 0 auto;
  margin-left: 35px;
  font-weight: bolder;
  font-size: 1rem;
  color: rgba(10, 10, 10, 0.8);
  transition: 1s;
}
*/






/*
.img{
  position: relative;
}


.text{
  position: absolute;
  top:0;
  left: 25px;
  padding-left: 15px;
  font-size: 16px;
}

*/






/*
.image__description{
  font-size: 1.25em;
  margin-top: 0.25em;
}
*/





/*
.arrow {
  text-align: center;
  font-size: 10px;
  margin-left:200px;
  animation-name: arrow;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
*/









/*
.imagesproject{
  display: grid;
  grid-template-columns: 1fr 1fr 120px;
  grid-template-rows: 1fr 1fr 50px;
  gap: 1%;
}

#image1{
  grid-column: 0 / 1;
  width: 30%;
  height: auto;

}

#image2{
  grid-column: 1 / 2;

  width:35%;
  height: auto;
}

#image3{
  grid-column: 2 / 3;

  width: 35%;
  height: auto;
}

#image4{

  grid-row: 1 / 2;
  width: 35%;
  height: auto;
}

#image5{
  grid-row:1 / 2;

   width: 35%;
  height: auto;
 
}

#images6{
  grid-row:1 / 2;
  grid-column: 2 / -1;
   width: 35%;
  height: auto;
}

#images7{
  grid-row: 2 / -1;
  grid-column: 0/ 2;
    width: 35%;
  height: auto;
}

  /*
  outline: none;
  position: absolute;
  top: 1208px;
  right: 287px;
  border: 1px solid rgb(250, 173, 31);
  background-color:  rgb(250, 173, 31);
  border-radius: 5px;
  width: 160px;
  height: 40px;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  font-size: 1rem;
  color: rgba(10, 10, 10, 0.8);
  */

  /*

#images8{
  grid-column: 2 / -1;
   grid-row: 2 / -1;
     width: 35%;
  height: auto;

}

*/




  /*
  outline: none;
  border: 1px solid rgb(250, 173, 31);
  background-color:  rgb(250, 173, 31);
  border-radius: 5px;
  width: 160px;
  height: 40px;
  display: block;
  margin-top: 0 auto;
  padding: 10px;
  cursor: pointer;
  position: relative;
  font-weight: bold;
  font-size: 1rem;
  color: rgba(10, 10, 10, 0.8);
  */






/*

body{
  background-color: rgb(14, 12, 12);
  margin: auto;
  padding: auto;
}

h1{
  color: yellow;
  font-size: 30px;
  font-family: sans-serif;
  text-shadow: 3px 3px 3px yellow;
  margin: auto;
  margin-left: 20px;
}


ul li{
  list-style: none;
  text-shadow: 2px 1px 3px yellow;
  color: white;
  display: inline;
  padding-left: 10px;
  padding-right: 2px;
  font-size: 15px;
}

.nav-2 > p{
  color: white;
  text-shadow: 3px 3px 3px yellow;

}

.nav-1{
  display: flex;
  justify-content: space-between;
}

*/



/*
.image{
  position: relative;
  width: 400px;
  float: right;
  bottom: 13em;
}

.image__img{
  display: block;
  border-radius: 50%;
  width: 100%;
}

.image_overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffff;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  font-family: inherit;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}
.image_overlay > *{
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image_overlay--blur{
  backdrop-filter: blur(5px);
}


.image_overlay:hover{
  opacity: 1;
}

.image_overlay:hover > * {
  transform: translateY(0);
}
.image__title{
  font-size: 2em;
  font-weight: bold;
}

.image__description{
  font-size: 1.25em;
  margin-top: 0.25em;
}
*/